{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        ["babel-plugin-styled-components"],
        [
            "module-resolver",
            {
                "root": "./src",
                "alias": {
                    "@client": "./src/client",
                    "@components": "./src/client/components",
                    "@server": "./src/server"
                }
            }
        ]
    ]
}
