{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        ["babel-plugin-styled-components"],
        [
            "module-resolver",
            {
                "root": "./",
                "alias": {
                    "@client": "./src/client",
                    "@components": "./src/client/components",
                    "@assets": "./src/client/assets",
                    "@server": "./src/server",
                    "@module": "./src/server/module"
                }
            }
        ]
    ]
}
