{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "jsx-a11y", "jest", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": "warn",
    "jsx-filename-extension": 0,
    "jsx-quotes": ["warn", "prefer-single"],
    "no-unused-vars": "warn",
    "react/prop-types": "off",
    "require-atomic-updates": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": ["warn", "always"],
    // Alphabetize imports
    "sort-imports": [
      "warn",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["all", "multiple", "single", "none"]
      }
    ],
    /* Additional Typscript-specific rules */
    // Include semi colons at the end of lines
    "@typescript-eslint/semi": ["warn", "always"],
    // Disallow interface MyInterface {}
    "@typescript-eslint/no-empty-interface": ["error"],
    // Favor string[] over Array<string>
    "@typescript-eslint/array-type": ["warn"],
    // Do not need to always define function return types
    "@typescript-eslint/explicit-function-return-type": ["off"],
    // Allow for node-style imports: const x = require('some-module')
    "@typescript-eslint/no-var-requires": ["off"]
  },
  "env": {
    "node": true,
    "jest": true
  }
}
